{% extends 'base.html' %}
{% load static %}

{#=======================================================================#}

{% block css %}

{% endblock %}

{#=======================================================================#}

{% block carousel %}

{% endblock %}

{#=======================================================================#}

{% block discover %}

{% endblock %}

{#=======================================================================#}

{% block nav %}

{% endblock %}

{#=======================================================================#}

{% block body %}

{% endblock %}

{#=======================================================================#}

{% block js %}

{% endblock %}

